html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    background-color: #262626;
    height: 50px;
    font-family: 'Poppins-regular', sans-serif;
}
#A1{
    font-family: 'Poppins-medium', sans-serif;
    color: #EE9617;
}
.navbar{background-color: #595959; font-family: 'Poppins-medium', sans-serif;}
#collapsenav1{
    margin:auto;
    padding: auto;
    justify-content: center;
}
.navbar-nav{padding-top: 15px;margin-left: 50px;}
.nav-item{margin-left: 40px;}
#container1{background-color: #595959;}
#Fbtn{
    width: 200px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Poppins-medium', sans-serif;
    color: #D44800;
}
#H1-1, .H-P, #QB-D h2, #QB-D p,
#BNbtn, #H-D h2, #H-D p, #Cpbtn, 
#H-D h4, #QD-Heading h1, #QD-Heading h2, 
#QD-Heading h3, #CL-H2, #SP-text p, #CT-h2, 
#Footer2 h4, #Footer1 h1, #emailIn, 
#emailIn::placeholder, #subbtn{font-family: 'Poppins', sans-serif;}
#H2-1, #H3-1, #H3-2, #H3-3{font-family: 'Poppins-regular', sans-serif;}
#H2-1{font-size: 30px;}
#H3-1{font-size: 20px;}
#H1-1{font-size: 70px;}
#Cloud-ImgD{
    width: 500px;
    height: 440px;
    border: 3px solid rgba(254, 88, 88, 25%);
    border-radius: 12px;
    box-shadow: 5px 10px 16px black;
}
#arrow{font-size: 24px;}
.P-icons{height: fit-content;width: 150px;}
#hr1{
    width: 210px;
    height: 3px;
    margin-top: 130px;
    color: black;
    background-color: black;
    opacity: 25%;
    text-align: center;
}
.H-P{
    font-size: 55px;
    font-weight: 500;
    color: #160637;
}
b, #H-D a, span{color: #FE5858;}
#H3-3{color: #8989A2;font-size: 24px;font-weight: 500;}
#QH-D{margin-top: 170px;height: 750px;}
#QB-D h2{
    font-size: 30px;
    font-weight: 600;
    color: #FE5858;
}
#QB-D p{
    height: fit-content;
    font-size: 18px;
    color: #8989A2;
}
#BNbtn{
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    background-color: #FE5858;
    background-image: linear-gradient(to right, #FE5858,#EE9617);
    border-radius: 20px;
    border-color: #EE9617;
}
#hr2{
    width: 300px;
    height: 3px;
    margin-left: 50px;
}
/* #H-D{width: 60%;} */
#H-D p{
    font-size: 18px;
    color: #8989A2;
    width: 100%;
}
#image2{
    height: 55%;
    /* margin-top: 50%; */
}
#Cpbtn{
    width: 200px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
    background-color: #FE5858;
    background-image: linear-gradient(to right, #FE5858,#EE9617);
    border-radius: 20px;
    border-color: #EE9617;
}
#H-D h4{font-size: 16px;font-weight: 200;}
#Q-D-text{height: 330px; margin-top:200px;}
#Orange-color-D{
    /* width: 6%; */
    background-color: #EE9617;
}
#QD-Heading h1{color: #160637;font-size: 36px;font-weight: 500;}
#QD-Heading h2{color: #FE5858;font-size: 36px;font-weight: 500;}
#hr3{width: 300px;height: 3px; margin-top: 35px;}
#QD-Heading h3{color: #8989A2;font-size: 31px;font-weight: 200;margin-top: 35px;width: fit-content;}
#QD-btn-D{
    /* width: 35%; */
    background-color: #FE5858;
    background-image: linear-gradient(to right, #FE5858,#EE9617);
}
#cbbtn{
    padding: 0px 35px;
    height: 59px;
    border-radius: 30px;
    color: #D44800;
    border-color: aliceblue;
    font-size: 18px;
    font-weight: 500;
}
#hr4{
    width: 177px;
    height: 3px;
    margin-top: 200px;
}
#CL-H2{
    color: #160637;
    font-size: 40px;
    font-weight: 500;
}
#SP-D{margin-top: 116px;}
#bullet{
    width: 17px;
    height: 17px;
    background-color: #EE9617;
    border-radius: 50px;
    margin-top: 150px;
}
#hr5{width: 260px; height: 3px;}
#SP-text p{width:fit-content;color: #8989A2;font-size: 18px; font-weight: 200;}
#hr6{width: 177px;height: 3px;margin-top: 200px;}
#CT-h2{
    color: #160637;
    font-size: 40px;
    font-weight: 500;
}
.carousel-item{
    width: 50%;
    height: 600px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px dashed #01245B;
}
.carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}
#Footer1{
    height: 351px;
    margin-top: 103px;
    background-color: #FE5858;
    background-image: linear-gradient(to right, #FE5858,#EE9617);
}
#Footer2{
    height: 64px;
}
#Footer2 h4{font-size: 18px;font-weight: 200;}
#Footer1 h1{font-size: 40px; font-weight: 500;}
#emailIn{
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 200;
    padding-right: 11%;
}
#Footer1 input:focus{
    outline: none;
}
#emailIn::placeholder{color: #FFFFFF;}
#subbtn{
    color: #FE5858;
    font-size: 18px;
    font-weight: 200;
    height: 50px;
    border-color: #FFFFFF;
    border-radius: 25px;
    /* width: 168px; */
    margin-left: -10%;
    float: right;
    padding: 0px 28px;
    /* position: absolute; */
}
.carousel-wrapper {
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: 119px;
    text-align: center;
  }
.owl-carousel{
    height: 600px;
    width: 100%;
    margin-left: 15px;
    justify-self: center;
}
.slide{
    width: 76%;
    height: 600px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px dashed #01245B;
}
.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}
.slider1{
    box-shadow: 5px 10px 15px gray;
}
.slider2{
    box-shadow: 5px 10px 15px gray;
}
.slider3{
    box-shadow: 5px 10px 15px gray;
}
.owl-carousel .owl-nav.disabled {
    display: block !important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: grey !important;
    font-size: 60px !important;
    font-weight: bolder !important;
    background: none;
}
.owl-prev{
    left: 0%;
}
.owl-next{
    right: 15px;
}
.img-D{
    height: 280px;
    width: 100%;
    background-color: #FE5858;
    background-image: linear-gradient(to right, #FE5858,#EE9617);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Ellipse-img{
    width: 190px;
    height: 190px;
}
.slide h1{
    color: #262626;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-top: 25px;
}
.slide p{
    color: #6C6C6C;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
}
#logoText{font-size: 36px; padding-left: 50px;}
@media only screen and (max-width:394px){
    #logoText{padding-left: 0px;}
}
@media only screen and (max-width:326px){
    .P-icons{margin: auto;margin-top: 30px;}
}
@media only screen and (max-width:500px){
    #subbtn{
        font-size: 16px;
        width: 120px;
        margin-left: -10%;
        float: right;
        padding: 0px 10px;
    }
}
@media only screen and (max-width:768px){
    #collapsenav1{
        margin:0;
        padding: 0;
    }
    .nav-item{
        margin: 0;
        padding: 0;
    }
    #QD-btn-D{height: 120px;}
}
@media only screen and (max-width:992px){
    #QB-D{height: 750px;}
    #H-D{margin-top:25px; height: 750px;}
    #Q-D-text{height: 330px; margin-top:200px;}
    #SP-D{margin-top: 0px;}
}